body {
  margin: 1%;
}

ul {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template: 1fr / repeat (8, 50px);
}

nav ul {
  display: flex;
}

.startrly {
 flex-grow: 1;
}

nav li {
  padding-right: 30px;
  font-weight: bold;
}

.header {
  text-align: center;
}

.tagline {
  margin-bottom: 3%;
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: bold;
  text-transform: capitalize;
}

.cta {
  display: block;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  max-width: 150px;
  margin: 0 auto;
}

a.cta {
  text-decoration: none;
  margin: 2.5% auto;
}

a.cta::before {
  color:#48143f;
}

a.cta::after {
  color:blue;
}

a.cta:hover {
  color: #f5c7ef;
}

.quote {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.quote-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 0 auto;
  max-width: 45%;
  font-style: italic;
}

.quote blockquote {
  line-height: 150%;
  margin: 0;
  padding: 2% 0 .5%;
}

.quote blockquote::before {
  content: open-quote;
}

.quote blockquote::after {
  content: close-quote;
}

.quote p {
  align: flex-start;
}

.quote p::before {
  content: "~~";
}

.why-list, .why-list li {
  display: flex;
  padding: 0;
}

.why-list {
  justify-content: space-around;
}

.why h2 {
  text-align: center;
}

.why-list li {
  max-width: 30%;
}

.why-text-wrapper {
  margin-left: 15px;
}
