
/* .intro {
list-style-type: none;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: flex-start;
} */

/* padding on whole page, redo nav bar */
/* p:nth-child(2) */

body div section nav ul {
  position: inline;
  list-style-type: none;
    li:
      nth-child (1): left;
      nth-child (2): right;
      nth-child (3): right;
}


body div section h1 {
  text-align: center;
  font-size: 2rem;
}

body div section {
  text-align: center;
}

.topish {
background-color: lightgreen;
padding: 150px;
}

/* main article a[href*="comments"] {
  font-style: : italic;
  color: orange;
  text-decoration: none;
} */

sub {
  font-size: 20pt;
  text-align: center;
}

/* should this be a button? */
a[href] {
  text-align: center;
  background-color: #FFF8DC;
  border-radius: 15%;
  border-style: groove;
  width: 180px;
  text-decoration: none;
  display:block;
  margin: 15px;
  padding: 5px;
  white-space:nowrap;
}

blockquote {
  font-style: italic;
}

#signature {
  text-align: right;
  font-style: italic; /* not dry */
}
