#main-container {
  /*display: grid;
  grid-template: repeat(7 1fr) / 1;*/
  font-family: Montserrat, sans-serif;
}

/* Nav Bar */
nav ul {
  position: fixed;
  display: grid;
  list-style-type: none;
  grid-template: 10vh / 70vw 15vw 1fr;
}

nav ul li:first-of-type {
  margin-right: auto;
}

nav ul li:nth-of-type(2) {
  padding-right: 4vw;
}

/* Header */
#main-header section {
  display: flex;
  width: 100vw;
  height: 50vh;
  padding-bottom: 20vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 2.5em;
}

#main-header h1 {
  margin-top: 30vh;
}

#main-header a {
  margin: 4em;
  padding: 1.3rem;
  border: solid #d3d3d3 0.1em;
  border-radius: 0.5rem;
  color: black;
  text-decoration: none;
  font-size: 0.6em;
}

/* Blockquote sections */
.blockquote {
  width: 98vw;
  margin: auto;
  text-align: left;
  border-top: solid thin black;
  border-bottom: solid thin black;
  font-style: italic;
  font-size: 1.8em;
  line-height: 2em;
}

.blockquote blockquote {
  padding: 10vw 10vw 0 10vw;
}
.blockquote p {
  padding: 0 15vw 10vw 10vw;
  text-align: right;
}
.blockquote p::before {
  content: "--";
}
blockquote::before, blockquote::after {
  content: "\"";
}

/* why section */
#why {
  font-family: Arial, sans-serif;
  margin-bottom: 7vw;
}

#why h2 {
  text-align: center;
  padding: 2em 0 1.5em 0;
  font-weight: 700;
  font-size: 2.5rem;
}

#why ul {
  display: grid;
  grid-template: 1fr / repeat(3, 25vw);
  list-style-type: none;
  justify-content: space-around;
}

#why ul strong {
  font-size: 1.2em;
}

#why ul img {
  margin: 0 0.5em;
  float: left;
}

/* Team */
#team h2 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 10rem;
}

#team ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10vw;
  justify-content: space-around;
  list-style-type: none;
}

#team ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#team ul img {
  margin: 5rem;
  padding: 0.3rem;
  border: solid thin grey;
  border-radius: 100%;
}

/* Sponsors */
#sponsors h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1.5em;
}

#sponsors ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5em;
  border-bottom: solid black thin;
}

#sponsors img {
  margin: 0 2rem;
}

/* footer */
footer {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  width: 50vw;
}

footer h3 {
  margin-left: 2.5rem;
}
footer ul {
  list-style-type: none;
}
