/* * {
  border: black 1px solid;
} */

/* HERO */
.hero h1 {
  font-size: 4em;
  min-width: 400px;
  text-align: center;
}

.about-btns {
  padding-top: 1em;
  min-width: 400px;
  text-align: center;
}

section {

}
