* {
  list-style-type: none;
}

/* ENTIRE PAGE */
.body-grid-container {
  display: grid;
  grid-template-rows: 10% repeat(7, auto) 10%;
  /* width: 100%; */
  margin-left: 20px;
  margin-right: 20px;
}

.grid-item {
  border-bottom: 1px solid gray;
}

.title {
  text-align: center;
  margin-top: 50px;
}

/* HEADER SECTION */
header #horizontal-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header.grid-item {
  border: none;
}

#about-header {
  padding-left: 40px;
}

#trynow-header {
  padding-left: 90px;
}

#startly-header {
  padding-right: 200px;
}

section.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

h1#title {
  /* text-align: center; */
}

sub#tagline {
  font-size: 1.5em;
  height: 2em;
  font-weight: bold;
}

a#button{
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5%;
  margin: 21px;
  padding: 8px;
  width: auto;
  color: black;
  display: block;
}

/* QUOTES */
blockquote {
  text-align: center;
  font-style: italic;
  margin-top: 40px;
}

blockquote + p {
  text-align: right;
  padding-right: 100px;
  margin-bottom: 40px;
}

blockquote::after, blockquote::before {
  content: "\"";
}

blockquote + p::before {
  content: " - ";
}

/* WHY SECTION  */
ul li.why-grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 25px 120px;
  /* border: 1px dashed blue; */
  grid-template-areas:
  "aside title"
  "aside quote";
}

li.why-grid-container img {
  grid-area: aside;
  align-self: flex-start;
  height: 100px;
  width: 100px;
}

li.why-grid-container p {
  grid-area: quote;
  align-self: flex-start;
  padding: 0;
  height: 70px;
  margin: 0;
}

li.why-grid-container strong {
  grid-area: title;
   /* padding-left: 10px; */
  /* height: inherit; */
}

ul.why-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3vw;
}

section.why li {
  width: 32%;
  padding: 10px;
}

/* MEET THE TEAM */
.meet-the-team li, .sponsors li {
  display: inline-block;
}

ul.team-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul.team-flex-container img {
  border: 1px gray solid;
  padding: 1px;
  width: 130px;
  height: 130px;
  border-radius: 50%
}

ul.team-flex-container span {
  display: block;
  text-align: center;
}

section.grid-item.meet-the-team {
  border: none;
}

section.top-row, section.bottom-row{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-self: center;
}

/* FOOTER */
footer.footer-container {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  border: none;
}

#support, #about {
  width: 15%;
  /* display: inline-block; */
}
