a:hover {
  color: cyan;
}

blockquote:before {
  content: open-quote;
}

blockquote {
  font-size: 1em;
}

blockquote:after {
  content: close-quote;
}

blockquote + p:before {
  content: "\002d \002d"
}

body {
  font-family: 'Poppins', serif;
}

.cite {
  text-align: right;
}

.footer {
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: .25fr .25fr;
  align-items: left;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr) .5fr ;
  justify-items: center;
  align-items: center;
}

.header .button {
  border: 2px solid darkgrey;
  border-radius: 10px;
  color: black;
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
  text-transform: capitalize;
}

.header sub {
  font-size: 21px;
  font-weight: bolder;
  text-transform: capitalize;
}

.important-quote {
  background-color: deepskyblue;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
  font-style: italic;
  line-height: 2.5em;
}

li {
  list-style-type: none;
}

.main {
  display: grid;
  /* grid-template-rows: 5% 20% 15% 20% 15% 25% 15%); */
  grid-template-columns: 1fr;
  align-items: stretch;
}

.sponsors img {

}

.team-bio img {
  border-color: lightgrey;
  border-radius: 360px;
  padding: 5px;
  box-shadow: 0 0 0 2px lightgrey;
  margin: 5px;
}

.top-nav-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

}
