/* Below styles apply to the entire page */
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

section {
  padding: 4rem 0 4rem 0;
  margin: 0 0.5rem 0 0.5rem;
  border-bottom: 1px solid lightblue;
}

ul, li {
  padding: 0;
  list-style-type: none;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Below styles apply to the navigation and footer */
nav, footer {
 padding: 0;
 background-color: lightblue;
}

/* Below styles apply to the navigation only */
nav > ul {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
}

nav li {
 font-weight: bold;
 text-align: center;
}

.col-1 {
 grid-column: 1 / 2;
}

.col-2 {
 grid-column: 2 / 3;
}

.col-5 {
 grid-column: 5 / 6;
}

/* Below styles apply to the landing section only */
h1 {
  font-size: 3rem;
}

#landing {
  text-align: center;
}

sub {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 150%
}

#landing > div {
  padding: 3.5rem 0 3rem 0;
}

a {
  color: #000;
  font-size: 1.25rem;
  text-transform: capitalize;
  text-decoration: none;
  padding: 1rem;
  background-color: lightblue;
  border-radius: 0.5rem;
}

a:hover {
  background-color: lightgray;
}

/* Below styles apply to the blockquote sections */
.quote {
  display: flex;
  flex-flow: column wrap;
  font-family: 'PT Serif', serif;
  font-style: italic;
}

.quote > blockquote {
  font-size: 1.35rem;
  padding: 0 10% 0 10%;
  line-height: 200%;
}

.quote > p {
  font-size: 1.25rem;
  align-self: flex-end;
  padding-right: 10%;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

.quote > p::before {
  content: "--"
}

/* Below styles apply only the why section */
#why ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 3rem 0 3rem;
}

#why li {
  flex: 1 1 250px;
  padding: 1rem;
}

#why img {
  float: left;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
}

@media screen and (max-width: 500px) {
  #why li {
    flex: 1 1 100%;
  }

  #why img {
    display: none;
  }
}

#team img {
  border-radius: 5rem;
  padding: 0.2rem;
  border: 1px lightgray solid;
}

#team ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 5rem 0 5rem;
}

#team li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem 2rem 4rem;
}

#team span {
  padding-top: 1rem;
}

/* Below styles apply only to the sponsors section */
#sponsors {
  border: 0;
}

#sponsors ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#sponsors li {
  padding: 0 0.4rem 0 0.4rem;
}

/* Below styles apply only to the footer */
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 500px) {
  footer div {
    flex: 1 1 100%;
  }

  footer {
    text-align: center;
  }
}
